# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
1. Create and share a jupyter Notebook in Github
2. Create markdown cells and add comments to the code
3. Add Heading to for titles, major headings and subheadings

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Pandas
3. Keras
4. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Notebook|
|RStudio|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60
# This will convert 200 minutes to hours by diving by 60.

3.3333333333333335

## Author
Zied Smat